body {
    font-family: 'B612 Mono', monospace;
}

#sector-volume-page-content h3 {
    font-weight: bold;
}

#sector-volume-page-content .table thead th {
    font-weight: normal;
}

#svp-center-table td {
    padding: .1rem .3rem;
    text-align: center;
    border: 1px solid #dee2e6;
}

#svp-other-facilities-table td {
    padding: .1rem .3rem;
    text-align: center;
    border: 1px solid #dee2e6;
}

#svp-key-airports-table td {
    padding: .1rem .3rem;
    text-align: center;
    border: 1px solid #dee2e6;
}

#svp-center-table tbody.subsectors {
    color: #ccc;
}
